@charset "utf-8";
/* CSS Document */

html, body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 100%;
	min-height: 800px;
	min-width: 1024px;
}

.greencolor{ color: #18bd88; font-weight: bold;}
.redcolor{ color: #ff0000; font-weight: bold;}
.bluecolor{ color: #3180bb; font-weight: bold;}
.purplecolor{ color: #7561af; font-weight: bold;}

.logo img{ width: 100%; max-width: 255px}

.logo2 img{ max-width: 312px; width: 100%;}
.clearboth { clear: both}

.maincontainer{
	position: relative;
	width: 100%;
	height: 100%;
}

.topcontainer { 
	position: relative;
	background-color: #4a0065;
	height: 80px;
}

.navi { position: relative; height: 100%;}
.navi ul{ margin: 0; padding: 0;}
.navi ul li {
    position: ab;
    display: inline-block;
    width: 33.3%;
    text-align: center;
	height: 80px;
	vertical-align: bottom;
	background-color: #11ac91
}
.navi ul a{ margin: 0; padding: 0; color: #ffffff; }
.navi ul li:hover{background-color: #ffffff; color: #4a0065}
.navi ul li:active, .current{background-color: #ffffff; color: #4a0065}

.topcontainer .padding{ 
	padding: 10px 20px;}

.col{ display: inline-block; vertical-align: top;}
.header .cola{ width: 20%;}
.header .colb{ width: 35%; text-align: left;}
.header .colc{ width: 25%; text-align: left;}
.header .cold{ width: 20%; text-align: left; vertical-align: top;}

.bottomcontainer {
	position: relative;
	height: 100%;
}
.hpbottom .bg{ 
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;}
.hpbottom .cola{position: relative; width: 25%; height: 100%;}
.hpbottom .colb{position: relative; width: 55%; height: 100%; margin: 0 auto;}
.hpbottom .colc{position: relative; width: 20%; height: 100%; float: right;}

.joblistsbar { position: relative; height: 30%;}
.joblists{ position: relative; overflow: auto; height: 70%; }

.joblistsbar .padding{ padding: 20px;}
.joblistsbar h1{font-size: 18px; margin: 0; padding: 0;}

.scoretxt{float: left; padding: 5px 10px; color: #ffffff;}
.score{ padding: 2px 5px; float: left; background-color: #c7fcc6; font-size: 12px; margin-top: 5px; border-radius: 10px;}

.joblistsbar h1{ font-size: 24px;}
.score2{ padding: 2px 5px; display: inline-block; background-color: #18bd88; width: 15%; min-width: 40px; max-width: 80px; font-size: 12px; border-radius: 10px; vertical-align: top;}
.score2txt{ display: inline-block;font-size: 12px; width: 70%; margin-left: 2%;}
.scorectn {margin-bottom: 2px;}
.scorectn:hover{background-color: #18bd88; border-radius: 10px; cursor: pointer}

.jobs { padding: 0 0 10px 0;}
.jobs .cola{ width: 50%;}
.jobs .colb{ width: 50%;}

.jobsctn{ padding: 10px 0;}
.jobsctn:nth-child(even){ background-color: #fbfbfb; border-bottom: solid 1px #eaeaea; border-top: solid 1px #eaeaea}
.jobsctn h1{ float: left; margin: 0 0 10px 0; padding: 0;}
.jobsctn .location{float: right; position: relative; padding: 5px 10px; display: block; background-color: #ffc000; border-radius: 5px;}


.skillsctn .padding{padding: 20px;}
.skills{display: inline-block; margin-left: 10px; width: 90%; vertical-align: top }
.skill{ position: relative; display: inline-block; padding: 5px 10px; background-color: #d1ec9c; border-radius: 30px; font-size: 12px; margin:  0 5px 5px 0; font-family: 'Open Sans', sans-serif;}

.messages .padding, .joblists .padding{ padding: 10px 20px;}
.jobs .txt{ display: inline-block; margin-left: 10px; width: 80%; font-family: 'Open Sans', sans-serif; vertical-align: top}

.search .padding{padding: 20px;}
.search .cola{width: 77%; text-align: right; margin-right:2%;}
.search .colb{width: 20%; text-align: left;}

.dashboard .col{margin: 5px 0;}
.dashboard .cola{ width: 70%; margin: 0; padding: 0;}
.dashboard .colb{ width: 15%; text-align: center; font-size: 30px; margin: 0; padding: 0;}
.dashboard .colc{ width: 15%; text-align: center; margin-top: 10px;}

.dashboard span{ font-size: 18px; color: #18bd88}

.chart{ text-align: center;}
.chart img{ max-width: 496px; width: 100%;}
.chart p{ margin: 0; padding: 0;}
.chart h1{ color: #e6501c; margin: 0 0 30px 0; padding: 0; font-size: 30px;}
.sectiontitle{ font-size: 24px; font-weight: bold; color: #18bd88}
button{
	width: 100%;
	padding: 5px;
	background-color: #238fe2;
	background: -webkit-gradient(linear, left top, left bottom, from(#238fe2), to(#1c68b6));
	background: -webkit-linear-gradient(top, #238fe2, #1c68b6);
	background: -moz-linear-gradient(top, #238fe2, #1c68b6);
	background: -ms-linear-gradient(top, #238fe2, #1c68b6);
	background: -o-linear-gradient(top, #238fe2, #1c68b6);
	background: linear-gradient(top, #238fe2, #1c68b6);
	border: 1px solid #2391e5;
	border-bottom: 1px solid #2391e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 0 #2696f5 inset ;
	-moz-box-shadow: 0 1px 0 0 #2696f5 inset;
	-ms-box-shadow: 0 1px 0 0 #2696f5 inset;
	-o-box-shadow: 0 1px 0 0 #2696f5 inset;
	box-shadow: inset 0 1px 0 0 #2696f5;
	border-radius: 3px;
	color: white;
	font-weight: normal;
	text-align: center;
	font-size:14px;
	text-shadow: 0 -1px 0 #396715;
}

button:hover {
	opacity:.85;
}

.jobsub { float: right; color: #238fe2}
.jobsub span{ font-size: 20px; font-weight: bold;}
.joblistsbar a{text-decoration: none; color: #3c3c3c;}
.joblistsbar a:hover{ color: #9B9B9B}


.legendctn h1{ font-size: 12px;}
.legendbox { border-radius: 10px; border: solid 1px #18bd88}
.legendbox .padding{ padding: 20px;}

.popupctn{ width: 30%; border-radius: 5px; box-shadow: 1px 1px 5px #000000; }
.popuptop .cola, .popupmid .cola{ width: 30%; text-align: left}
.popuptop .colb, .popupmid .colb{ width: 70%; text-align: left}
.popuptop{ background-color: #f6f6f6; border-top-left-radius: 5px; border-top-right-radius: 5px}
.popuptop .padding{ padding: 10px;}
.popupmid .padding{ padding: 10px;}
.popupbtm {background-color: #3180bb; padding: 5px 0; color: #ffffff;}
.popupbtm:hover { background-color: #0c86cc;}
.popuptop h1{color: #3180bb; margin: 0; padding: 0; font-size: 20px;}
.popupctn a{text-decoration: none;}

.ctncenter{ width: 100%; vertical-align: top; text-align: center}
.ctnleft{ width: 60%; display: inline-block; vertical-align: top}
.ctnleft h1{ color: #4a0065; font-size: 24px;}
.ctnleft .padding, .ctntips .padding{ padding: 20px;}

.ctnright { position: relative; width: 40%; display: inline-block; vertical-align: top}
.ctntips { position: fixed; width: 30%; top: 100px; right: 40px; font-size: 16px;}
.ctntips h1{ color: #4a0065; font-size: 24px; text-align: center;}

.tipsinner{ border: dashed 5px #f2f2f2}
