<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>SkillSense</title>
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='current/images/logo3ICON.png') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='current/css/normalize.css') }}" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='current/css/style.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='current/css/slidein/style.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='current/css/style_edit.css') }}" />
	<!-- <link href="css/form.css" rel="stylesheet" type="text/css"> -->
    <script src="https://use.fontawesome.com/b4d97f0552.js"></script>
	<script src="{{ url_for('static',filename='current/js/modernizr.js') }}"></script> <!-- Modernizr -->
</head>
<body>
<div class="loader"><div class="loader_skill_gif"></div></div>
<div class="loader_refresh"><div class="loader_skill_gif"></div></div>
<div class="maincontainer">
	<div class="topcontainer header">
		<div class="col cola">
			<div class="padding logo skillsense">
				<a href="{{ url_for('home') }}"><img src="{{ url_for('static',filename='current/images/logo2.png') }}" alt="SkillSense Logo Here"/></a>
			</div>
		</div><!-- Logo --><div class="col colb">
		<div class="navi">
			<ul>
				<a href="javascript:navigateGraph('category')"><li class="con_t tcategory"><div class="padding">Job Category Analysis</div>
				</li></a><a href="javascript:navigateGraph('role')"><li class="con_t trole"><div class="padding">Job Role Analysis</div>
				</li></a><a href="javascript:navigateGraph('skill_group')"><li class="con_t tskill_group"><div class="padding">Skill Group Analysis</div>
				</li></a>
			</ul>
		</div>
		</div><!-- Col b / Search --><div class="col colc" id="th_slider" style="display: none;"><div class="padding">
		  <div class="scoretxt">Weights Threshold:</div>
			<div class="range_new">                
                <input type="range" name="points" id="thresholdSlider" step="0.006" value="0.5" min="1" max="0.06" 
                    onchange="filterTH(this.value)">
                <output id="sliderval">#</output>
            </div>
		</div></div><div class="col cold logo2"><img src="{{ url_for('static',filename='current/images/logo.png') }}" alt=""/></div>
	</div><!-- Top Container -->
	<div class="bottomcontainer" id="content">
		<div class="ctnleft">
    		<div class="padding">
    		<!-- <a href="#0" class="cd-btn">Open Window</a>
    		<a href="#0" class="cd-btn2">Open Window2</a> -->
    		
				<h1><em><text id="graph_header"></text></em></h1> 
	    		<div id="rel_graph"></div>
	    	</div>
		</div><div class="ctnright">
  			
   			<div class="ctntips">
   				<h1>Helpful Tips</h1>
   				<div class="tipsinner">
					<div class="padding">
						<strong>MouseOver</strong> <br>
						- Job Role to view Selected Skill Group<br>
						- Skill Group to view associated Job Role<br><br><br>
						<strong>MouseClick</strong><br>
						- Job Role to show list of Job Titles<br>
						- Skill Group to view list of Skills
					</div>
    			</div>
	    	</div>
		</div>
		<!-- insert button here -->

		<button onclick="topFunction()" id="backtopBtn" title="Go to top">Top</button>
	</div><!-- Bottom Container -->
	
</div>
	<div class="cd-panel from-right">
		<header class="cd-panel-header header1">
			<!-- <h1>Skill Group</h1> -->
            <h1><span id="barchart_type"></span></h1>
			<a href="#0" class="cd-panel-close closebtn" id="close">Close</a>
		</header>

		<div class="cd-panel-container cdcontainer1">
			<div class="cd-panel-content">
				<!-- <h2>Human Resource, Human Resource Management, Payroll, Resource Management, Human Resources</h2> -->
				<h2><span id="skill_group_title"></span></h2>
            </div> <!-- cd-panel-content -->
	    	<div id="skills_chart">
                <br><br><!-- <button style="float: left;" title="Back to overall view" onclick="escapeDetailedView()">Hide</button> --><br>
                <!-- <label><br><span id="skill_group_title"></span></label> -->
                <div class="loader_barchart_refresh"><div class="loader_skill_gif"></div></div>
                <svg class="skills_bar" width="535" height="480"></svg>
                <br>
            </div>
		</div> <!-- cd-panel-container -->
	</div> <!-- cd-panel -->
	
	<div class="cd-panel2 from-left">
		<header class="cd-panel-header header2">
			<h1>Skill Group</h1>
			<a href="#0" class="cd-panel-close closebtn" id="close1">Close</a>
		</header>

		<div class="cd-panel-container cdcontainer2">
			<div class="cd-panel-content"><a href="#0" class="cd-btn3">Open Window3</a>
				<h2>Human Resource, Human Resource Management, Payroll, Resource Management, Human Resources</h2>
		    <!-- <img src="images/graph2.jpg" width="412" height="363" alt=""/> --> </div> <!-- cd-panel-content -->
		</div> <!-- cd-panel-container -->
	</div> <!-- cd-panel -->
	
	<div class="cd-panel2 from-left">
		<header class="cd-panel-header header3">
			<h1>Skill Group</h1>
			<a href="#0" class="cd-panel-close closebtn" id="close2">Close</a>
		</header>

		<div class="cd-panel-container cdcontainer3">
			<div class="cd-panel-content">
				<h2>Human Resource, Human Resource Management, Payroll, Resource Management, Human Resources 123</h2>
		    	<!-- <img src="images/graph2.jpg" width="412" height="363" alt=""/> --> 
		   	</div> <!-- cd-panel-content -->
		</div> <!-- cd-panel-container -->
	</div> <!-- cd-panel -->
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="{{ url_for('static',filename='current/js/main.js') }}"></script> <!-- Resource jQuery -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='d3.layout.cloud.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='current/js/skill_analysis.js') }}"></script>
<script type="text/javascript">
var relation_type = {{ rel_type|tojson|safe }};
var search_item = {{ searchitem|tojson|safe }};
console.log("search_item", search_item);
initGraph(relation_type, search_item);  // render job category - topic relationship on page load

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 430 || document.documentElement.scrollTop > 430) {
        document.getElementById("backtopBtn").style.visibility = "visible";
        document.getElementById("backtopBtn").style.opacity = 1;
    } else {
        document.getElementById("backtopBtn").style.visibility = "hidden";
        document.getElementById("backtopBtn").style.opacity = 0;
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    $('body,html').animate({ scrollTop: 0 }, 300);
}

</script>
</body>
</html>
